body {
    background-color: lightcoral;
}

.title-top {
    text-align: center;
    padding-top: 100px;
}

.title {
    font-size: 45px;
}

.container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 550px;
    width: 600px;
    border-radius: 10px;
    border-style: dashed;
    border-width: 10px;
    border-color: deepskyblue;
}

#card-img-top {
    height: 400px;
}

#button-fetch {
    margin: 12px;
}

